* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-image: url(https://images.unsplash.com/photo-1618374779328-929c3c7d3687?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY0fGlVSXNuVnRqQjBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  /* background-repeat: repeat; */
  color: #fff;
}

.header h1 {
  font-size: 150px;
  font-family: "Charmonman", cursive;
  padding: 5px;
  color: white;
}

/* navigation bar */
.nav {
  background-color: white;
  height: 60px;
  font-size: 28px;
  margin: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 13px;
}

/* Body */
main {
  display: flex;
}

.img {
  width: 250px;
  border-radius: 25% 25% 25% 25%;
  box-shadow: white 0px 0px 0px 2px;
}

.aside {
  background-color: black;
  color: white;
  padding: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  font-size: 40px;
}

.container1 {
  display: flex;
  background-color: black;
  color: white;
  font-size: 35px;
  line-height: 1.25;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1 1 33%;
  border-right: white solid 0.5px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: space-between;
}

.card {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  flex: 0 0 25%px;
}

.cardb {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  flex: 4 0 75%;
}

.card p {
  padding-top: 15px;
}

.cardb p {
  padding-top: 15px;
}

/* Footer */
.footer {
  border-top: solid white 1px;
  display: flexbox;
  padding: 20px;
  background-color: white;
}

.footer h2 {
  display: none;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer ul li {
  font-size: 25px;
}

@media screen and (max-width: 900px) {
  main,
  nav {
    flex-direction: column;
  }
  aside {
    order: 2;
  }
}
